replicas: 1

image: "confluentinc/cp-kafka"
imageTag: "5.0.1"
imagePullPolicy: "IfNotPresent"

resources:
  requests:
    cpu: 100m
    memory: 500Mi
  limits:
    cpu: 200m
    memory: 600Mi

kafkaHeapOptions: "-Xmx550m -Xms550m"

readinessProbe:
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  successThreshold: 1
  failureThreshold: 3

terminationGracePeriodSeconds: 60

configurationOverrides:
  "confluent.support.metrics.enable": false

persistence:
  enabled: true
  size: "1Gi"

prometheus:
  jmx:
    enabled: false

jmx:
  configMap:
    enabled: false
  kafka:
    enabled: false

zookeeper:
  enabled: true
  
  resources:
    requests:
      cpu: 250m
      memory: 256Mi
    limits:
      cpu: 350m
      memory: 400Mi
  
  persistence:
    enabled: false

  image:
    PullPolicy: "IfNotPresent"

  port: 2181